<div class="jumbotron">
  <div class="container">
    <h1>Statistical analysis for your metrics</h1>
    <p>Just click this button and everything will be OK</p>
    <p><a class="btn btn-primary btn-lg" onclick="start()" role="button">Start</a></p>
  </div>
</div>

<div class="learn-more">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Primary analysis</h3>
        <p>
          Histograms, mean, variance,
          standard deviation, kurtosis and skewness, accuracy,
          identifying and removing abnormal
          values, identifying the low of distribution.
        </p>
      </div>
      <div class="col-md-4">
        <h3>Correlation analysis</h3>
        <p>
          Estimating the relationships among variables.
          Calculating Pearson Product Moment correlation coefficient.
        </p>
      </div>
      <div class="col-md-4">
        <h3>Regression analysis</h3>
        <p>
          Identifying the relationship between a dependent
          variable and one or more independent variables.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="calculations">
  <div class="container">

  </div>
</div>